---
import '~/fastro/assets/styles/tailwind.css';

import { I18N } from 'astrowind:config';

import CommonMeta from '~/fastro/components/common/CommonMeta.astro';
import Favicons from '~/fastro/components/Favicons.astro';
import CustomStyles from '~/fastro/components/CustomStyles.astro';
import ApplyColorMode from '~/fastro/components/common/ApplyColorMode.astro';
import Metadata from '~/fastro/components/common/Metadata.astro';
import SiteVerification from '~/fastro/components/common/SiteVerification.astro';
import Analytics from '~/fastro/components/common/Analytics.astro';
import BasicScripts from '~/fastro/components/common/BasicScripts.astro';

// Comment the line below to disable View Transitions
import { ViewTransitions } from 'astro:transitions';

import type { MetaData as MetaDataType } from '~/fastro/types';

export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <SiteVerification />
    <Analytics />

    <!-- Comment the line below to disable View Transitions -->
    <ViewTransitions fallback="swap" />
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <slot />

    <BasicScripts />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
