---
import Layout from '~/fastro/layouts/Layout.astro';
import Header from '~/fastro/components/widgets/Header.astro';
import Footer from '~/fastro/components/widgets/Footer.astro';
import Announcement from '~/fastro/components/widgets/Announcement.astro';

import { headerData, footerData } from '~/fastro/navigation';

import type { MetaData } from '~/fastro/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="announcement">
    <Announcement />
  </slot>
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
